<div>
    <pre *ngIf="false">{{points|json}}</pre>
    <mgl-map

        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="zoom"
        [center]="coordinates"
        [accessToken]="accessToken"
    >
        <mgl-geojson-source
            id="points"
            [data]="points"
        ></mgl-geojson-source>

        <mgl-layer
            id="points"
            source="points"
            type="symbol"
            [layout]="{'icon-image': '{icon}-15','icon-allow-overlap': true}"
            (click)="onClick($event)"
            (mouseEnter)="cursorStyle = 'pointer'"
            (mouseLeave)="cursorStyle = ''"
        ></mgl-layer>
        <mgl-popup
            *ngIf="selectedPoint"
            [feature]="selectedPoint"
        >
            <span [innerHTML]="selectedPoint.properties?.description"></span>
        </mgl-popup>

        <mgl-control
            mglNavigation
        ></mgl-control>
    </mgl-map>
</div>
