[Unit]
Description=${appid} yet another Spring Boot application
After=syslog.target

[Service]
User=ec2-user
ExecStart=/usr/bin/java -Duser.timezone=UTC -Djava.security.egd=file:/dev/./urandom -jar ${appdir}/app.jar
SuccessExitStatus=143
## loging see https://stackoverflow.com/questions/37585758/how-to-redirect-output-of-systemd-service-to-a-file
SyslogIdentifier=${appid}
#StandardOutput=file:${appdir}/logs/stdout.log
#StandardError=file:${appdir}/logs/stderr.log
## check out EnvironmentFile=/run/metadata/coreos
Environment=SPRING_DATASOURCE_URL=jdbc:h2:file:${appdir}/db/letsgo2;DB_CLOSE_DELAY=-1
Environment=SPRING_PROFILES_ACTIVE=dev
Environment=SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_COGNITO_ISSUER_URI=${oauth2_issuer_uri}
Environment=SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_COGNITO_CLIENT_SECRET=${oauth2_client_secret}
Environment=SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_COGNITO_CLIENT_ID=${oauth2_client_id}
Environment=SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_COGNITO_REDIRECT_URI_TEMPLATE=https://${domain_name}/login/oauth2/code/cognito
Environment=SPRING_MAIN_BANNER_MODE=off
Environment=SERVER_USE_FORWARD_HEADERS=true
Environment=JAVA_OPTS="--Xmx300m"


[Install]
WantedBy=multi-user.target
