[Unit]
Description=${appid} yet another Spring Boot application
After=syslog.target

[Service]
User=ec2-user
ExecStart=/usr/bin/java -Duser.timezone=UTC -Djava.security.egd=file:/dev/./urandom -jar ${appdir}/app.jar
SuccessExitStatus=143
## loging see https://stackoverflow.com/questions/37585758/how-to-redirect-output-of-systemd-service-to-a-file
SyslogIdentifier=${appid}
#StandardOutput=file:${appdir}/logs/stdout.log
#StandardError=file:${appdir}/logs/stderr.log
EnvironmentFile=${appdir}/app.service.env

[Install]
WantedBy=multi-user.target
