<div>
    <h2 id="page-heading">
        <span jhiTranslate="letsgo2App.place.home.title">Places</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-place" [routerLink]="['/place/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="letsgo2App.place.home.createLabel">
            Create a new Place
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="places?.length === 0">
        <span jhiTranslate="letsgo2App.place.home.notFound">No places found</span>
    </div>
    <div class="table-responsive" *ngIf="places?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="letsgo2App.place.country">Country</span></th>
            <!--<th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>-->
                <th scope="col" ><span jhiTranslate="letsgo2App.place.name">Place2go</span></th>
                <!--
                <th scope="col" ><span jhiTranslate="letsgo2App.place.imageUrl">FirstImpression</span></th>-->
            <th scope="col" ><span jhiTranslate="letsgo2App.place.summary">Summary</span></th>
            <th scope="col" ><span jhiTranslate="letsgo2App.place.rating">Rating</span></th>
            <th scope="col" ><span jhiTranslate="letsgo2App.place.lotype">Lotype</span></th>

            <!--<th scope="col" ><span jhiTranslate="letsgo2App.place.updatedBy">Updated By</span></th>-->
            <th scope="col" ><span jhiTranslate="letsgo2App.place.coordinates">Coordinates</span></th>
                <!--
            <th scope="col" ><span jhiTranslate="letsgo2App.place.notes">Notes</span></th>
            -->
                <!--
            <th scope="col" ><span jhiTranslate="letsgo2App.place.updatedAt">Updated At</span></th>-->
            <th scope="col" ><span jhiTranslate="letsgo2App.place.primaryUrl">Primary Url</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let place of places ;trackBy: trackId">
                <td><span class="flag-icon flag-icon-{{place.country}}" title="{{place.country}}"></span></td>
                <td><a [routerLink]="['/place', place.id, 'view' ]">{{place.name}}</a></td>
                <!--
                <td><img [src]="place.imageUrl" alt="impression" height="100px"/></td>
                -->
                <!--<td>{{place.name}}</td>-->
                <td>{{place.summary}}</td>
                <td>{{place.rating}}</td>
                <td>{{place.lotype}}</td>
                <!--
                <td>{{place.updatedBy}}</td>
                -->
                <td>{{place.coordinates}}</td>
                <!--
                <td>{{place.notes}}</td>
                <td>{{place.updatedAt | date:'medium'}}</td>
                -->
                <td><a [href]="place.primaryUrl" target="_placePrimaryUrl">External Link</a></td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/place', place.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/place', place.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/place', { outlets: { popup: place.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
