<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="place">
            <h2><span jhiTranslate="letsgo2App.place.detail.title">Let's go to</span> {{place.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <img [src]="place.imageUrl" alt="impression" height="250px"/>
                <dt>
                 <span jhiTranslate="letsgo2App.place.name">Name</span>
                </dt>
                <dd>
                    <span>{{place.name}}</span>
                </dd>
                <dt><span jhiTranslate="letsgo2App.place.summary">Summary</span></dt>
                <dd>
                    <span>{{place.summary}}</span>
                </dd>
                <dt><span jhiTranslate="letsgo2App.place.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{place.imageUrl}}</span>
                </dd>
                <dt><span jhiTranslate="letsgo2App.place.rating">Rating</span></dt>
                <dd>
                    <span>{{place.rating}}</span>
                </dd>
                <dt><span jhiTranslate="letsgo2App.place.lotype">Lotype</span></dt>
                <dd>
                    <span>{{place.lotype}}</span>
                </dd>
                <dt><span jhiTranslate="letsgo2App.place.country">Country</span></dt>
                <dd>
                    <span>{{place.country}}</span>
                </dd>
                <dt><span jhiTranslate="letsgo2App.place.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{place.updatedBy}}</span>
                </dd>
                <dt><span jhiTranslate="letsgo2App.place.coordinates">Coordinates</span></dt>
                <dd>
                    <span>{{place.coordinates}}</span>
                </dd>
                <dt><span jhiTranslate="letsgo2App.place.notes">Notes</span></dt>
                <dd>
                    <span>{{place.notes}}</span>
                </dd>
                <dt><span jhiTranslate="letsgo2App.place.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{place.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="letsgo2App.place.primaryUrl">Primary Url</span></dt>
                <dd>
                    <span>{{place.primaryUrl}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/place', place.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
