<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-place-heading" jhiTranslate="letsgo2App.place.home.createOrEditLabel">Create or edit a Place</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgo2App.place.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgo2App.place.summary" for="field_summary">Summary</label>
                    <input type="text" class="form-control" name="summary" id="field_summary"
                           formControlName="summary"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgo2App.place.imageUrl" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                           formControlName="imageUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgo2App.place.rating" for="field_rating">Rating</label>
                    <input type="number" class="form-control" name="rating" id="field_rating"
                           formControlName="rating"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgo2App.place.lotype" for="field_lotype">Lotype</label>
                    <input type="text" class="form-control" name="lotype" id="field_lotype"
                           formControlName="lotype"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgo2App.place.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                           formControlName="country"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgo2App.place.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgo2App.place.coordinates" for="field_coordinates">Coordinates</label>
                    <input type="text" class="form-control" name="coordinates" id="field_coordinates"
                           formControlName="coordinates"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgo2App.place.notes" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                           formControlName="notes"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgo2App.place.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" formControlName="updatedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="letsgo2App.place.primaryUrl" for="field_primaryUrl">Primary Url</label>
                    <input type="text" class="form-control" name="primaryUrl" id="field_primaryUrl"
                           formControlName="primaryUrl"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
